//This is my Variables file

//Variables for Colours 
$colour_light-blue: #C7F7FF;
$colour_med-blue: #89C0C9;
$colour_dark-blue: #3a5E63;
$colour_light-brown: #7C593C;
$colour_light-grey: #d4d4d4;
$colour_dark-grey: #222;
$colour_white: #fff;
$colour_sand: #C9A689;


//Variables for Fonts
$font_sans-serif: "Josefin Sans", "Trebuchet MS", Helvetica, sans-serif;

$font_serif: Cardo, "Palatino Linotype", "Book Antiqua", Palatino, serif;

